.body{
    margin: 0;
    text-align: center;
    
}



.menu{
    background-color: #bdb76b;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vh;

}
.header{
    height: 20vh;
    background-color: #000fff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
}

.sidebar{
    height: 60vh;
    width: 30%;
    background-color: #8a2be2;
    align-items: center;
    display: flex;
    justify-content: center;

}
.content{
    height: 60vh;
    width: 70%;
    background-color: #d2691e;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer{
    height: 10vh;
    background-color: #ffd700;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width:767.98px){
    .container{
        display: block;

    }
    .sidebar, .content{
        width: 100%;
    }
}